*, *:before, *:after {
  box-sizing: border-box; }

body {
  color: #000;
  background: #f5655e;
  background: linear-gradient(122deg, #f5655e 0%, rgba(245, 101, 94, 0.473827) 35%, #f5655e 100%);
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1; }

::selection {
  background: #950806;
  color: #222; }

::-moz-selection {
  background: #950806;
  color: #222; }

.banner-wrapper {
  margin: 0;
  padding: 0;
  width: 100%; }

hr {
  border: 1px solid #d3d3d4;
  border-width: 1px 0 0;
  clear: both;
  margin: 4.286em 0 0;
  height: 0; }
  hr.dotted {
    border-style: dashed; }

/* _mixins.sass */
/* _banner.sass */
.banner {
  text-align: center;
  padding-bottom: 60px; }
  .banner .logo {
    margin: 0 0 60px 0;
    display: inline-block; }
  .banner h1, .banner h2 {
    font-family: "bebas-neue", Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 10px 15px 10px 15px; }
  .banner h1 {
    font-size: 6em;
    line-height: 1em; }
  .banner h2 {
    font-size: 3.857em;
    line-height: 1em; }

/* _button.sass */
.button {
  background-color: rgba(245, 101, 94, 0.4);
  font-weight: bold;
  color: #950806;
  cursor: pointer;
  line-height: 1.25em;
  padding: 0.357em 0.714em;
  transition: color 0.1s linear; }
  .button:hover, .button:active {
    background-color: rgba(245, 101, 94, 0.2);
    color: #000;
    text-decoration: none; }

.button-medium {
  background-color: rgba(245, 101, 94, 0.4);
  font-weight: bold;
  color: #950806;
  cursor: pointer;
  line-height: 1.25em;
  padding: 0.357em 0.714em;
  transition: color 0.1s linear;
  display: inline-block;
  font-size: 1.125em;
  padding: 1em; }
  .button-medium:hover, .button-medium:active {
    background-color: rgba(245, 101, 94, 0.2);
    color: #000;
    text-decoration: none; }

.button-white {
  background-color: rgba(245, 101, 94, 0.4);
  font-weight: bold;
  color: #950806;
  cursor: pointer;
  line-height: 1.25em;
  padding: 0.357em 0.714em;
  transition: color 0.1s linear;
  background-color: #f5f5f3;
  color: #950806; }
  .button-white:hover, .button-white:active {
    background-color: rgba(245, 101, 94, 0.2);
    color: #000;
    text-decoration: none; }
  .button-white:hover, .button-white:active {
    background-color: #e9e9e5;
    color: #f73f3d;
    text-decoration: none; }

/* _footer.sass */
footer {
  background-color: #222;
  color: #4f5052;
  padding: 1.714em 0 0.714em; }
  footer .footer-nav {
    list-style: none;
    margin-left: 0.429em;
    border-right: 1px solid #4f5052; }
    footer .footer-nav li {
      display: inline-block; }
      footer .footer-nav li a {
        color: #4f5052;
        padding-top: 0.714em; }
        footer .footer-nav li a:hover, footer .footer-nav li a:active {
          color: #68696c;
          text-decoration: none; }
  footer .communication-icon {
    list-style: none;
    margin-left: 0.429em;
    padding-top: 0.7em;
    font-size: 32px;
    line-height: 32px;
    margin-left: 5px; }
    footer .communication-icon li {
      display: inline-block; }
      footer .communication-icon li a {
        color: #4f5052;
        padding-top: 0.714em; }
        footer .communication-icon li a:hover, footer .communication-icon li a:active {
          color: #68696c;
          text-decoration: none; }
    footer .communication-icon .icon-meetup {
      vertical-align: text-top; }

/* _navigation.sass */
nav {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.143em;
  line-height: 2.5em;
  list-style: none;
  text-align: center;
  text-transform: uppercase; }
  nav div a {
    color: white; }
    nav div a:hover, nav div a:active {
      color: white;
      border-bottom: 3px solid white;
      text-decoration: none; }
  nav div:not(:first-child) a {
    border: none;
    background-color: rgba(245, 101, 94, 0.4);
    font-weight: bold;
    color: #950806;
    cursor: pointer;
    line-height: 1.25em;
    padding: 0.357em 0.714em;
    transition: color 0.1s linear; }
    nav div:not(:first-child) a:hover, nav div:not(:first-child) a:active {
      background-color: rgba(245, 101, 94, 0.2);
      color: #000;
      text-decoration: none; }
  nav ul {
    list-style: none; }
    nav ul li {
      display: inline-block;
      margin-right: 1em;
      margin-left: 1em; }

/* _section.sass */
section {
  padding-bottom: 2.143em;
  padding-top: 0;
  padding-top: 2.143em; }
  section.events {
    /* Friday hug */ }
    section.events .events-image {
      height: 80px; }
    section.events .railsgirls, section.events .rulu, section.events .rencontres {
      position: relative; }
    section.events .rencontres {
      line-height: 80px; }
    section.events .events-hero {
      margin: 0 0 -2.143em 0;
      padding-top: 2.143em; }
  section.callout {
    background-color: #950806;
    padding-top: 2.143em; }
    section.callout .lead {
      color: white;
      margin: 0 auto;
      opacity: 0.65; }
  section.sponsors {
    margin-top: 50px;
    background-color: #f5f5f3; }
    section.sponsors a {
      display: block; }
      section.sponsors a:hover {
        background-color: rgba(255, 255, 255, 0.5); }
    section.sponsors ul {
      list-style: none; }
      section.sponsors ul li {
        display: inline-block;
        margin-right: 1em;
        margin-left: 1em; }
  section h2 {
    color: #950806;
    margin-bottom: 0.75em; }

/* _type.sass */
h1, h2, h3 {
  font-family: "bebas-neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.3em; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 3em; }

p {
  font-size: 16px;
  line-height: 1.6em;
  margin: 0 0 0.75em; }

a {
  color: #950806;
  transition: color 0.1s linear; }
  a:hover, a:active {
    color: #f73f3d; }

.centered-text {
  text-align: center; }

.colored-text {
  color: #f73f3d; }
