/* _banner.sass */
#homepage .banner
  height: 783px

.banner
  background-color: $dark-gray
  background-image: url("../img/bg-banner.jpg")
  background-repeat: no-repeat
  background-size: cover
  color: $lighter-gray
  height: 90px
  text-align: center
  .logo
    background-image: url("../img/logo.png")
    background-position: top center
    background-repeat: no-repeat
    height: 125px
    margin: 105px 0 80px 0
    h1
      text-indent: -9999px
  h2
    font-family: "bebas-neue", Helvetica, Arial, sans-serif
    font-size: 3.857em
    text-shadow: 0 1px 3px rgba(0,0,0,0.5)
