/* _button.sass */

//Sizes
.button
  @include button

.button-medium
  @include button-medium

.button-white
  @include button
  background-color: white
  color: $red

  &:hover
    background-color: darken(white, 5%)
    color: $red
    text-decoration: none
