/* _button.sass */

//Sizes
.button
  @include button

.button-medium
  @include button-medium

.button-white
  @include button
  background-color: $lighter-gray
  color: $red

  &:hover
    background-color: darken($lighter-gray, 5%)
    color: $red-lighter
    text-decoration: none
