/* _section.sass */

section
  padding-bottom: 2.143em
  padding-top: 0

  &.meetups
  padding-top: 2.143em

  &.events
    .events-image
      height: 80px
    .railsgirls, .rulu, .rencontres
      position: relative
    .rencontres
      line-height: 80px
    /* Friday hug */
    .events-hero
      margin: 0 0 -2.143em 0
      padding-top: 2.143em

  &.callout
    background-color: $red
    padding-top: 2.143em
    .lead
      color: white
      margin: 0 auto
      opacity: 0.65

  &.sponsors
    margin-top: 50px
    background-color: $lighter-gray

    a
      display: block
      &:hover
        background-color: rgba(255, 255, 255, .5)

    ul
      list-style: none
      li
        display: inline-block
        margin-right: 1em
        margin-left: 1em

  h2
    color: $red
    margin-bottom: 0.75em
