/* _section.sass */

section
  padding-bottom: 2.143em
  padding-top: 0

  &.meetups
    padding-top: 2.143em

  &.events
    .events-image
      margin: 0 0 -2.143em 0
      padding-top: 2.143em

  &.callout
    background-color: $red
    padding-top: 2.143em
    .lead
      color: white
      margin: 0 auto
      opacity: 0.65

  &.sponsors
    background-color: $lighter-gray
    ul
      list-style: none
      li
        display: inline-block
        margin-left: 3.429em
        opacity: 0.65
        padding-top: 0.714em
        @include transition
        &:hover
          opacity: 0.75

  h2
    color: $red
    margin-bottom: 0.75em

  p
    margin-bottom: 1.429em
