/* _type.sass */

h1, h2, h3
  font-family: "bebas-neue", Helvetica, Arial, sans-serif
  text-rendering: optimizelegibility
  letter-spacing: 0.05em
  line-height: 1.3em

h1
  font-size: 4em

h2
  font-size: 3em