<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="footer-nav">
          <ul>
            <li>
              <h3>Lyon.rb</h3>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="communication-icon pull-right">
          <ul>
            <li>
              <a href="https://www.meetup.com/LyonRB">
                <i class="fab fa-meetup"></i>
              </a>
            </li>

            <li>
              <a href="https://www.youtube.com/lyonrb">
                <i class="fab fa-youtube"></i>
              </a>
            </li>

            <li>
              <a href="https://www.facebook.com/lyonrb">
                <i class="fab fa-facebook"></i>
              </a>
            </li>

            <li>
              <a href="https://twitter.com/lyonrb">
                <i class="fab fa-twitter"></i>
              </a>
            </li>

            <li>
              <a href="https://github.com/lyonrb">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
