<footer class="container mt-10 py-5 text-center border-top">
  <div class="mb-4">
    <a href="/">
      <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="Lyon.rb" class="img-responsive" height="96" loading="lazy">
    </a>

    <div class="text-muted mt-3">Meetup Ruby depuis 2013</div>
  </div>

  <p>Rejoins la communauté sur</p>

  <div class="d-flex justify-content-center gap-5 mb-4 text-primary">
    <a href="{{ site.youtube_url }}" target="_blank" class="fs-3">
      <i class="fab fa-youtube"></i>

      <span class="visually-hidden">Youtube</span>
    </a>

    <a href="{{ site.meetup_url }}" target="_blank" class="fs-3">
      <i class="fab fa-meetup"></i>

      <span class="visually-hidden">Meetup</span>
    </a>

    <a href="{{ site.github_url }}" target="_blank" class="fs-3">
      <i class="fab fa-github"></i>

      <span class="visually-hidden">GitHub</span>
    </a>

    <a href="{{ site.facebook_url }}" target="_blank" class="fs-3">
      <i class="fab fa-facebook"></i>

      <span class="visually-hidden">Facebook</span>
    </a>

    <a href="{{ site.twitter_url }}" target="_blank" class="fs-3">
      <i class="fab fa-twitter"></i>

      <span class="visually-hidden">Twitter</span>
    </a>
  </div>
</footer>
