<nav class="navbar fixed-top bg-white border-bottom py-4">
  <div class="container gap-3">
    <a class="navbar-brand" href="/">
      <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="Lyon.rb" class="img-responsive" height="24" loading="lazy">
    </a>

    <div>
      <a href="{{ site.meetup_url }}" class="btn btn-primary" target="_blank">
        <i class="fab fa-meetup"></i>

        S'inscrire sur Meetup
      </a>

      <a href="{{ site.youtube_url }}" class="btn btn-outline-primary" target="_blank">
        <i class="fab fa-youtube"></i>

        Voir nos replays
      </a>
    </div>
  </div>
</nav>
