// color.sass

// Primary color
$red:            #B61924

// Shade of gray
$lighter-gray:   #F5F5F3
$light-gray:     #CFCFCF
$dark-gray:      #808080
$black:          #222

// Secondary colors
$dark-red:       #660F16
$orange:         #FF7200
$blue:           #53ACB4
