/* _mixins.sass */

// Button
// Sizes
@mixin button
  background-color: $red
  border-radius: 0.214em
  color: white
  cursor: pointer
  line-height: 1.25em
  padding: 0.357em 0.714em
  text-transform: uppercase
  @include transition

  &:hover
    background-color: darken($red, 3%)
    color: white
    text-decoration: none

@mixin button-medium
  @include button
  font-size: 1.125em
  padding: 1em

  &:hover
    background-color: darken($red, 3%)
    color: white
    text-decoration: none

// Navigation
@mixin nav-link
  color: white
  padding-top: 10px

  &:hover, &:active, &:visited
    color: darken(white, 3%)
    border-bottom: 3px solid $red
    text-decoration: none

@mixin navigation
  ul
    font-size: 1.143em
    line-height: 5.625em
    list-style: none
    text-align: center
    text-transform: uppercase
    li
      display: inline-block
      margin-left: 3.429em

@mixin footer-nav
  list-style: none
  margin-left: 0.429em
  text-transform: uppercase
  li
    display: inline-block
    font-size: 0.875em
    margin-left: 1.071em
    a
      @include footer-nav-link

@mixin footer-nav-link
  color: $dark-gray
  padding-top: 0.714em

  &:hover
    color: darken($dark-gray, 3%)
    text-decoration: none

// Transition
@mixin transition
  transition: color 0.1s linear
