/* _mixins.sass */

// Button
// Sizes
@mixin button
  background-color: $red
  border-radius: 0.214em
  color: white
  cursor: pointer
  line-height: 1.25em
  padding: 0.357em 0.714em
  text-transform: uppercase
  @include transition

  &:hover
    background-color: darken($red, 3%)
    color: white
    text-decoration: none

// Navigation
@mixin nav-link
  color: white
  padding-top: 10px

  &:hover, &:active, &:visited
    color: darken(white, 3%)
    border-bottom: 3px solid $red
    text-decoration: none

// Transition
@mixin transition
  -webkit-transition: color 0.1s linear
  transition: color 0.1s linear