*, *:before, *:after
  box-sizing: border-box

body
  background-color: white
  font-family: "proxima-nova", Helvetica, Arial, sans-serif
  font-style: normal
  font-weight: normal
  line-height: 1

// Highlight
::selection
  background: $red
  color: $black
::-moz-selection
  background: $red
  color: $black

.banner-wrapper
  margin: 0
  padding: 0
  width: 100%

.projects
  column-count: 4

.entity
  .avatar
    img
      max-height: 100px
