---
title: Lyon.rb | Blog
description: Ruby, Rails, Lyon, Développement agile
priority: 0.5
pageable: true
per_page: 3
layout: blog
---

%section.posts-listing
  - page_articles.each do |article|
    %article{itemscope: true, itemtype: "http://schema.org/BlogPosting"}
      %meta{itemprop: "description", content: article.summary}
      %meta{itemprop: "url", content: "http://lyon.rb#{article.url}"}
      %meta{itemprop: "inLanguage", content: "fr"}

      %h2{itemprop: "name headline"}= link_to article.title, article.url
      .post-body{itemprop: "articleBody"}~ article.body

  - if paginate
    = partial 'layouts/pagination', locals: {page_number: page_number, num_pages: num_pages, prev_page: prev_page, next_page: next_page}
