<div class="container pt-8 mt-10 px-lg-10">
  <div class="position-absolute start-0 end-0" style="top: -10rem; z-index: -10; overflow: hidden; filter: blur(3rem);" aria-hidden="true">
    <div class="position-relative" style="left: calc(50% - 11rem); width: 36.125rem; aspect-ratio: 1155 / 678; transform: translateX(-50%) rotate(30deg); background: linear-gradient(to top right, #950806, #dc3545); opacity: 0.3; clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);" class="sm-left-calc-50-minus-30rem sm-width-72"></div>
  </div>

  <div class="col-md-6">
    <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="Lyon.rb" height="128" class="img-fluid mb-3">
  </div>

  <p>
    Bienvenue à Lyon.rb, la communauté des <strong>développeurs Ruby</strong> à Lyon.
  </p>

  <p>
    Retrouvez-nous <strong>une fois par mois</strong> à l'occasion des meetups que nous animons.
  </p>

  <p>
    Nous intéressons autant les <strong>professionnels</strong> que les <strong>passionnés</strong>, les <strong>débutants</strong> que les <strong>expérimentés</strong>, au travers de <strong>présentations variées</strong> et réalisées par nos membres :-)
  </p>

  <div class="d-flex flex-column flex-lg-row justify-content-center mt-5 gap-3">
    <a href="{{ site.meetup_url }}" class="btn btn-primary" target="_blank">
      <i class="fab fa-meetup"></i>

      Participer au prochain meetup &rarr;
    </a>

    <a href="https://forms.gle/gA2Cko64qP6kLQvX8" class="btn btn-outline-primary" target="_blank">
      🎙️ Proposer un talk &rarr;
    </a>
  </div>

  <div class="position-absolute start-0 end-0 top-100" style="transform: translateY(calc(-13rem)); z-index: -10; overflow: hidden; filter: blur(3rem);" aria-hidden="true">
    <div class="position-relative" style="left: calc(50% + 3rem); width: 36.125rem; aspect-ratio: 1155 / 678; transform: translateX(-50%); background: linear-gradient(to top right, #950806, #dc3545); opacity: 0.3; clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"></div>
  </div>
</div>
