<div class="container">
  <h2 class="mb-5 text-center fw-light">
    Nos derniers replays
  </h2>

  <p class="text-center">
    Nous mettons un point d'honneur à enregistrer et à diffuser les talks présentés durant nos meetups.<br>
    Abonnez-vous à notre chaîne Youtube pour ne rien rater !
  </p>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="ratio ratio-16x9">
        <iframe
          src="https://www.youtube-nocookie.com/embed/videoseries?list=PLWO0_50XhBj9zScZBHL_Dn13OrSJQ2lKt"
          frameborder="0"
          allowfullscreen
          loading="lazy"
        ></iframe>
      </div>
    </div>

    <p class="text-center mt-4">
      <a href="{{ site.youtube_url }}" class="btn btn-primary" target="_blank">
        <i class="fab fa-youtube"></i>

        Accéder à la chaîne Youtube &rarr;
      </a>
    </p>
  </div>
</div>
