%footer
  .container
    .row
      .col-lg-7
        .footer-nav
          %ul
            %li
              %h3 
                %a{href: 'https://www.lyonrb.fr'}
                  Lyon.rb

      .col-lg-5
        .communication-icon.pull-right
          %ul
            %li
              %a{href: 'https://github.com/lyonrb'}
                %i{class: "fab fa-github"}
            %li
              %a{href: 'https://www.youtube.com/lyonrb'}
                %i{class: "fab fa-youtube"}
            %li
              %a{href: 'https://www.meetup.com/LyonRB'}
                %i{class: "fab fa-meetup"}
            %li
              %a{href: 'https://www.facebook.com/lyonrb'}
                %i{class: "fab fa-facebook"}
