%nav.row
  %div.col-xs-12.col-sm-4.col-md-2.col-md-offset-3= link_to '<i class="far fa-gem"></i> Home', 'http://www.lyonrb.fr'
  %div.col-xs-12.col-sm-4.col-md-2= link_to '<i class="fab fa-youtube"></i> Youtube', 'https://www.youtube.com/lyonrb'
  %div.col-xs-12.col-sm-4.col-md-2= link_to '<i class="fab fa-meetup"></i> Meetup', 'https://www.meetup.com/LyonRB'
