%nav.row
  %ul
    %li= link_to '<i class="far fa-gem"></i> Home', '#'
    %li= link_to '<i class="fab fa-youtube"></i> Visionner nos présentations', 'https://www.youtube.com/lyonrb'
    %li= link_to '<i class="fab fa-meetup"></i> S\'inscrire à nos meetups', 'https://www.meetup.com/LyonRB'
