:markdown

  # Adhérer

  Lyon.rb (Lyon Ruby Brigade, de son vrai nom) est une association loi 1901. Ce sont ses membres qui la font vivre. Faites-en partie !

  ## Humains

  Les meetups sont bien évidemment ouverts à tous. Tous les évènements aussi d'ailleurs.

  Mais adhérer à l'association, c'est participer à sa vie, aider financièrement à l'organisation des évènements et de participer à la communauté.

  L'adhésion coûte 18€ pour l'année et permet de :

  * offrir 40% du billet à RuLu 2014 (juste avec ça, c'est amorti !)
  * organiser des meetups qui déchirent
  * organiser des évènements de formation ouverts et gratuits
  * inviter des speakers de France et d'Europe
  * offrir des promo/réductions sur des services qu'on utilise tous les jours

  ## Entreprises

  Vous êtes une entreprise et voulez être membre de l'association (ou vous êtes un humain, et vous voudriez bien que votre patron prenne en charge votre adhésion à l'association), on a un pack pour vous !

  À hauteur de 200€, une entreprise peut être membre de l'association et ainsi :

  * avoir 5 de ses employés automatiquement et gratuitement membres
  * être annoncé comme sponsor officiel (sur le site, la page meetup, Twitter et même Facebook)
  * faire 2 mini-talks dans l'année à des meetups (pour promouvoir un service ou proposer un poste)

  ## S'inscrire

  Pour adhérer à l'association, il suffit de remplir [ce formulaire](https://docs.google.com/spreadsheet/viewform?formkey=dFBqR2tER3cxZnZ1ZHlJMFY1T0l1b1E6MQ). Bienvenue !
