%h1 Annuaire d'entreprises

Voici notre annuaire de société qui font du Ruby dans la région Rhône-Alpes.

%ul.meetups
  - data.companies.companies.each do |company|
    %li= partial :entity, locals: { entity: company }

= partial :github_projects

%p
  Vous voulez ajouter votre entreprise ?
  Ajoutez-vous à
  = link_to 'notre base', 'https://github.com/lyonrb/website/blob/master/data/companies.yml'
  et créez une pull-request, on se fera un plaisir de la merger !

%p
  Pensez également que votre entreprise peut
  = link_to 'devenir membre de l\'association', 'signup'
