%h1 Meetups et conférences qu'on aime

%h2 Meetups
%ul.meetups
  - data.friends.meetups.each do |meetup|
    %li= partial :entity, locals: { entity: meetup }

%h2 Conférences
%ul.confs
  - data.friends.confs.each do |conf|
    %li= partial :entity, locals: { entity: conf }

%p
  Vous voulez ajouter votre meetup ou votre conférence ?
  Ajoutez-vous à
  = link_to 'notre base', 'https://github.com/lyonrb/website/blob/master/data/friends.yml'
  et créez une pull-request, on se fera un plaisir de la merger !
