---
title: Lyon.rb | Lyon Ruby Brigade
---

%h1 Lyon.rb

%p We are Ruby developers in Lyon

%p
  We meet up every second Wednesday of the month at
  = link_to 'La Cordée Charpennes', 'http://goo.gl/maps/lP3YX'
  from 7pm till late

%p
  Please go RSVP to the
  = link_to 'next meetup', 'http://meetup.lyonrb.fr/'

%p
  You should also subscribe to the
  = link_to 'mailing list', 'https://groups.google.com/forum/?hl=en#!forum/rubylyon'

%p
  And finally, you can contribute to the
  = link_to 'talks wishlist', 'https://github.com/lyonrb/wishlist/issues'
  on GitHub.