---
title: Lyon.rb | Lyon Ruby Brigade
---

.container

  %section.meetups.centered-text.row
    .col-lg-10.col-lg-offset-1

      %h2 Meetups

      %p
        Nous nous réunissons généralement tous les deux mois à partir de 19h.
        %br
        Participez à nos discussions autour d'un verre ou d'un burger, parfois accompagnées de présentations techniques.

      %p N'hésitez pas à consulter et contribuer à notre <a href="https://github.com/lyonrb/wishlist/issues">wishlist de talks</a> sur GitHub.

      %a{href: 'http://www.meetup.com/fr/Lyon-Ruby-Brigade', class: 'button-medium'} S'inscrire au prochain Meetup

      %hr.dotted

  %section.events.centered-text.row
    .col-lg-10.col-lg-offset-1
      %h2 Événements
      %p Nous organisons régulièrement des évènements autour de Ruby ou du développement logiciel : conférences, formations, ateliers, ...

      .railsgirls
        %img{src: "/img/events-railsgirls.png"}
        %h3 RailsGirls
        %p Ateliers d'initiation à Ruby on Rails destinées en priorité aux femmes. <a href="http://railsgirly.lyonrb.fr">plus d'info sur RailsGirls Lyon</a>.

      .rulu
        %img{src: "/img/events-rulu.png", width: "120px"}
        %h3 RuLu
        %p Une conférence internationale qui a réuni des centaines de membres de la communauté Ruby de 2011 à 2014. <a href="http://rulu.eu">plus d'info sur RuLu</a>.

      .codeweek
        %img{src: "/img/events-codeweek.jpg", width: "120px"}
        %h3 CodeWeek 2014
        %p Atelier de cours du soir en partenariat avec l'accélérateur <a href="http://www.boostinlyon.fr">BoostinLyon</a> et la chaîne de télévision <a href="http://www.tlm.fr">TLM</a>.

      .row
        .col-lg-10.col-lg-offset-1
          = image_tag 'rulu-friday-hug.jpg', class: 'img-responsive events-image', alt: 'Lyon.rb events - RuLu friday hug'

