---
title: Lyon.rb | Lyon Ruby Brigade
---

.container

  %section.meetups.centered-text.row
    .col-lg-10.col-lg-offset-1
      %p
        Nous nous réunissons généralement tous les deux mois à partir de 19h.
        %br
        Participez à nos discussions autour d'un verre ou d'un burger, parfois accompagnées de présentations techniques.

      %p N'hésitez pas à consulter et contribuer à notre <a href="https://github.com/lyonrb/wishlist/issues">wishlist de talks</a> sur GitHub.

      %a{href: 'http://www.meetup.com/fr/Lyon-Ruby-Brigade', class: 'button-medium'} S'inscrire au prochain Meetup

      %hr.dotted

  %section.events.centered-text.row
    .col-lg-10.col-lg-offset-1
      .row
        %h2 Événements
        .rencontres.col-md-4
          .events-image
            %img{src: "/img/logo-meetup-script.svg", width: "120px"}
          %h3 Meetups
          %p rencontres bimestrielles autour d'un verre ou d'un présentation technique
          %p <a class="button button-white" href="https://www.meetup.com/Lyon-Ruby-Brigade/" title="plus d'info sur Meetup">plus d'info</a>

        .rulu.col-md-4
          .events-image
            %img{src: "/img/events-rulu.png", height: "110px"}
          %h3 RuLu
          %p Conférence internationale qui réuni des centaines de membres de la communauté Ruby depuis 2011.
          %p <a class="button" href="http://rulu.eu" title="plus d'info sur Rulu">plus d'info</a>
              
        .railsgirls.col-md-4
          .events-image
            %img{src: "/img/events-railsgirls.png"}
          %h3 RailsGirly
          %p Ateliers d'initiation à Ruby on Rails destinées en priorité aux femmes.
          %p <a class="button button-white" href="http://railsgirly.lyonrb.fr" title="plus d'info sur Railsgirls Lyon">plus d'info</a>

        .row
          .col-lg-10.col-lg-offset-1
            = image_tag 'rulu-friday-hug.jpg', class: 'img-responsive events-hero', alt: 'Lyon.rb events - RuLu friday hug'

