---
title: Lyon.rb | Lyon Ruby Brigade
---

.banner-wrapper
  %header.banner
    .container
      .row
        .col-lg-12
          .logo
            %img{src:"../img/logo-overlay.png", alt: 'Lyon.rb', class: 'img-responsive'}
          %br
          %h1 <span class="colored-text">Lyon</span>.<span class="colored-text">rb</span>
          %h2 La <span class="colored-text">communauté</span> des développeurs <span class="colored-text">Ruby</span> à <span class="colored-text">Lyon</span>

.container

  %section.meetups.centered-text.row
    .col-lg-10.col-lg-offset-1
      %p
        Bienvenue à Lyon.rb, la communauté des développeurs Ruby à Lyon.
        %br
        Nous aimons nous retrouver en dehors du cadre professionnel pour échanger sur le langage Ruby mais pas seulement : Les frameworks, le design, les outils, l'organisation.
        %br
        Former un réseau et faire de la veille technologique tout en s'amusant, c'est notre mot d'ordre !
        %br
        Retrouvez-nous une fois par mois (environ) durant les meetups que nous animons.
        %br
        Nous intéressons autant les professionnels que les passionnés, les débutants que les expérimentés, au travers de présentations variées et réalisées par nos membres :-)

      %a{href: 'https://www.meetup.com/LyonRB', class: 'button-medium'} <i class="fab fa-meetup"></i> S'inscrire au prochain Meetup

  %section.events.centered-text.row
    .col-lg-10.col-lg-offset-1
      %img{src: "/img/community-banner.jpg", alt: 'Lyon.rb - La communauté', class: 'img-responsive'}

%section.sponsors.centered-text
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h2 Nos sponsors

        %ul
          %li= link_to image_tag('img/sponsors/studio-hb.png', class: 'img-responsive', alt: 'Studio HB'), 'https://www.studio-hb.com'
          %li= link_to image_tag('img/sponsors/le-wagon-lyon.png', class: 'img-responsive', alt: 'Le Wagon Lyon'), 'https://www.lewagon.com/lyon'
          %li= link_to image_tag('img/sponsors/per-angusta.png', class: 'img-responsive', alt: 'Per Angusta'), 'https://www.per-angusta.com'
