---
title: Lyon.rb | Lyon Ruby Brigade
---

%h1 Lyon.rb

%p Nous sommes des développeurs Ruby basés à Lyon

%p
  On se réunit chaque deuxième mercredi du mois à
  = link_to 'La Cordée Charpennes', 'http://goo.gl/maps/lP3YX'
  de 19h à l'heure qu'il faudra.

%p
  Pour vous inscrire au prochain meetup, rendez-vous sur notre
  = link_to 'page meetup.com', 'http://meetup.lyonrb.fr/'

%p
  Vous pouvez aussi vous inscrire à notre
  = link_to 'mailing list', 'https://groups.google.com/forum/?hl=en#!forum/rubylyon'

%p
  Enfin, n'hésitez pas à consulter et contribuer à notre
  = link_to 'wishlist de talks', 'https://github.com/lyonrb/wishlist/issues'
  sur GitHub.

