%h1 Membres

%ul.members
  - data.members.members.each do |member|
    = partial :member, locals: { member: member }

- content_for :javascripts do
  = javascript_include_tag 'github'


/ Handlebars templates

%script#github-template{type: 'text/x-handlebars-template'}
  {{count}} projets :
  %ul.projects
    {{#projects}} {{> project}} {{/projects}}

%script#project-template{type: 'text/x-handlebars-template'}
  %li
    %a{href: '{{url}}'} {{name}}