!!! XML

- base_url = "https://www.lyonrb.fr/"
- pages = sitemap.resources.find_all{|p| p.source_file.match(/\.html/) }

%urlset{xmlns: "http://www.sitemaps.org/schemas/sitemap/0.9"}
  = pages.each do |p|
    %url
      %loc= base_url + p.destination_path.gsub('index.html','')
      - if priority = p.metadata[:page]['priority']
        %priority= priority
      %lastmod= File.new(p.source_file).mtime.to_date
