%h1 Équipe

%script#github-template{type: 'text/x-handlebars-template'}
  {{count}} projets :
  %ul.projects
    {{#projects}} {{> project}} {{/projects}}

%script#project-template{type: 'text/x-handlebars-template'}
  %li
    %a{href: '{{url}}'} {{name}}

%h2 Actuelle
%ul.staff.current
  - data.staff.current.each do |member|
    = partial :staff_member, locals: { member: member }

%h2 Anciennes
%ul.staff.legacy
  - data.staff.legacy.each do |member|
    = partial :staff_member, locals: { member: member }
